.DS_Store

# terraform specific
/terraform.tfstate*
/.terraform/**
/*.plan
/*.output
/output.json

# future...
#!/.terraform/**/
#!lock.json
/.terraform.lock.hcl

# terraecs specific
/prod.json
/staging.json

# IDE
/.idea/**